service cloud.firestore {
  match /databases/{database}/documents {
    match /users/{user} {
      allow read, write;
    }
    match /todos/{todo} {
      allow read;
      allow write: if request.resource.data.text > '';
    }
  }
}
